<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycz.dao.UserMapper">
    <insert id="insertUser">
        <selectKey resultType="integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_ycz(username,password,salt,gender,regist_time,status)
        values(#{username},#{password},#{salt},#{gender},#{registTime},#{status})
    </insert>
    <update id="updateUser">
        update user_ycz set claz_id=#{clazId} where id=#{stuId}
    </update>

    <select id="selectAll" resultType="com.ycz.pojo.User">
        select * from user_ycz
    </select>
    <select id="selectuserByName" resultType="com.ycz.pojo.User">
        select * from user_ycz where username=#{username}
    </select>
    <select id="selectAllNoClaz" resultType="com.ycz.pojo.User">
        select * from user_ycz where claz_id is null
    </select>
    <select id="selectUserById" resultType="com.ycz.pojo.User">
        select * from user_ycz where id=#{id}
    </select>
</mapper>